table {
  width: 100%;
  padding: 2%;
}

img {
  height: 30px;
  margin-right: 10%;
}

.asset-symbol {
  text-transform: uppercase;
}

.intervals {
  display: flex;
  justify-content: center;

  .interval {
    margin: 0 1em;
    cursor: pointer;
  }

  .selected-interval {
    text-decoration: underline;
  }
}
