$base-color: #e67e22;
$blue-color: #22ac11;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $base-color;
}

/**
Fill height of browser window
*/
body {
  height: 100%;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  color: unset;
  background-color: unset;
  border-color: unset;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.2rem;
}

.btn {
  letter-spacing: 1px;
}

.steps {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 2rem;

  .step {
    margin: 0.5rem 3rem;
    display: flex;
    color: #ccc;

    a {
      color: $base-color;
    }

    div:first-of-type {
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 50%;
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 100%;
      padding-top: 7%;
    }

    :last-child {
      margin-top: 3%;
    }

    &.active {
      div:first-of-type {
        background-color: $base-color;
        border: 1px solid transparent;
        color: #fff;
      }

      div:last-of-type {
        color: $base-color;
      }
    }
  }
}

.input-form {
  width: 60%;
  margin: 3rem auto;
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.login-error {
  font-size: 1.1rem;
}

.successMsg {
  color: $blue-color;
}

.loading {
  color: #777;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.user-details {
  color: $blue-color;
  padding: 5px 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .input-form {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .steps .step {
    margin: 0.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .steps .step {
    margin: 0.5rem 1rem;
    font-size: 0.9rem;

    div:first-of-type {
      padding-top: 9%;
    }
  }
}

@media screen and (max-width: 400px) {
  .steps {
    flex-direction: column;
    align-items: center;

    .step {
      align-items: center;
    }
  }
}

// -----------------------------------------------------------------------------
b,
strong {
	font-weight: bolder;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
  width: fit-content;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

button,
[role="button"] {
  cursor: pointer;
}

.container {
      width: 100%;
}

@media (min-width: 640px) {

      .container {
            max-width: 640px;
      }
}

@media (min-width: 768px) {

      .container {
            max-width: 768px;
      }
}

@media (min-width: 1024px) {

      .container {
            max-width: 1024px;
      }
}

@media (min-width: 1280px) {

      .container {
            max-width: 1280px;
      }
}

@media (min-width: 1536px) {

      .container {
            max-width: 1536px;
      }
}

.visible {
      visibility: visible;
}

.fixed {
      position: fixed;
}

.absolute {
      position: absolute;
}

.relative {
      position: relative;
}

.inset-x-0 {
      left: 0px;
      right: 0px;
}

.bottom-auto {
      bottom: auto;
}

.top-0 {
      top: 0px;
}

.left-0 {
      left: 0px;
}

.right-0 {
      right: 0px;
}

.bottom-0 {
      bottom: 0px;
}

.left-1\/2 {
      left: 50%;
}

.left-2 {
      left: 0.5rem;
}

.top-2 {
      top: 0.5rem;
}

.z-10 {
      z-index: 10;
}

.-z-10 {
      z-index: -10;
}

.z-50 {
      z-index: 50;
}

.order-last {
      order: 9999;
}

.order-first {
      order: -9999;
}

.m-16 {
      margin: 4rem;
}

.m-auto {
      margin: auto;
}

.my-4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
}

.mtop-4 {
  margin-top: 1rem;
}

.mtop-6 {
  margin-top: 1.5rem;
}

.mbott-6 {
  margin-bottom: 2rem;
}

.mright-2 {
  margin-right: 0.5em;
}

.my-6 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
}

.-mx-2 {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
}

.my-2 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
}

.mx-2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
}

.mx-4 {
      margin-left: 1rem;
      margin-right: 1rem;
}

.mx-auto {
      margin-left: auto;
      margin-right: auto;
}


@media (max-width: 640px) {
  .xs-wide {
    width: 90% !important;
  }
}

.my-1 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
}

.my-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
}

.my-3 {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
}

.-mx-6 {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
}

.ml-auto {
      margin-left: auto;
}

.mb-2 {
      margin-bottom: 0.5rem;
}

.mt-4 {
      margin-top: 1rem;
}

.mt-6 {
      margin-top: 1.5rem;
}

.mr-3 {
      margin-right: 0.75rem;
}

.mr-auto {
      margin-right: auto;
}

.mb-6 {
      margin-bottom: 1.5rem;
}

.mb-0 {
      margin-bottom: 0px;
}

.mt-8 {
      margin-top: 2rem;
}

.mt-3 {
      margin-top: 0.75rem;
}

.mb-4 {
      margin-bottom: 1rem;
}

.mt-32 {
      margin-top: 8rem;
}

.mt-16 {
      margin-top: 4rem;
}

.mr-2 {
      margin-right: 0.5rem;
}

.ml-3 {
      margin-left: 0.75rem;
}

.mt-1 {
      margin-top: 0.25rem;
}

.-mb-px {
      margin-bottom: -1px;
}

.mr-1 {
      margin-right: 0.25rem;
}

.-mt-20 {
      margin-top: -5rem;
}

.mt-0 {
      margin-top: 0px;
}

.mr-4 {
      margin-right: 1rem;
}

.mb-3 {
      margin-bottom: 0.75rem;
}

.ml-1 {
      margin-left: 0.25rem;
}

.mt-48 {
      margin-top: 12rem;
}

.mb-1 {
      margin-bottom: 0.25rem;
}

.mb-12 {
      margin-bottom: 3rem;
}

.mt-2 {
      margin-top: 0.5rem;
}

.mt-6 {
      margin-top: 1.5rem;
}

.mt-10 {
      margin-top: 2.5rem;
}

.mt-12 {
      margin-top: 3rem;
}

.-mt-32 {
      margin-top: -8rem;
}

.block {
      display: block;
}

.inline-block {
      display: inline-block;
}

.flex {
      display: flex;
}

.inline-flex {
      display: inline-flex;
}

.table {
      display: table;
}

.hidden {
      display: none;
}

.h-64 {
      height: 16rem;
}

.h-2 {
      height: 0.5rem;
}

.h-20 {
      height: 5rem;
}

.h-10 {
      height: 2.5rem;
}

.h-6 {
      height: 1.5rem;
}

.h-full {
      height: 100%;
}

.h-0\.5 {
      height: 0.125rem;
}

.h-0 {
      height: 0px;
}

.w-full {
      width: 100%;
}

.w-min {
      width: min-content;
}

.w-6 {
      width: 1.5rem;
}

.w-10\/12 {
      width: 83.333333%;
}

.w-auto {
      width: auto;
}

.w-fc {
      width: fit-content;
}

.w-4\/12 {
      width: 33.333333%;
}

.w-0 {
      width: 0px;
}

.w-10 {
      width: 2.5rem;
}

.w-3\/12 {
      width: 25%;
}

.min-w-0 {
      min-width: 0px;
}

.min-w-140-px {
      min-width: 140px;
}

.max-w-full {
      max-width: 100%;
}

.max-w-md {
      max-width: 28rem;
}

.flex-1 {
      flex: 1 1 0%;
}

.flex-auto {
      flex: 1 1 auto;
}

.flex-shrink-0 {
      flex-shrink: 0;
}

.flex-grow {
      flex-grow: 1;
}

.border-collapse {
      border-collapse: collapse;
}

.-translate-x-1\/2 {
      --tw-translate-x: -50%;
      transform: var(--tw-transform);
}

.-rotate-45 {
      --tw-rotate: -45deg;
      transform: var(--tw-transform);
}

.transform {
      transform: var(--tw-transform);
}

.cursor-pointer {
      cursor: pointer;
}

.select-none {
      -webkit-user-select: none;
              user-select: none;
}

.list-inside {
      list-style-position: inside;
}

.list-none {
      list-style-type: none;
}

.list-disc {
      list-style-type: disc;
}

.list-decimal {
      list-style-type: decimal;
}

.flex-row {
      flex-direction: row;
}

.flex-col {
      flex-direction: column;
}

.flex-wrap {
      flex-wrap: wrap;
}

.content-center {
      align-content: center;
}

.items-start {
      align-items: flex-start;
}

.items-center {
      align-items: center;
}

.justify-center {
      justify-content: center;
}

.justify-around {
      justify-content: space-around;
}

.justify-between {
      justify-content: space-between;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-x-reverse: 0;
      margin-right: calc(0.5rem * var(--tw-space-x-reverse));
      margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
      overflow: hidden;
}

.overflow-x-auto {
      overflow-x: auto;
}

.whitespace-nowrap {
      white-space: nowrap;
}

.break-words {
      overflow-wrap: break-word;
}

.rounded-full {
      border-radius: 9999px;
}

.rounded-lg {
      border-radius: 0.5rem;
}

.rounded {
      border-radius: 0.25rem;
}

.rounded-md {
      border-radius: 0.375rem;
}

.rounded-none {
      border-radius: 0px;
}

.rounded-t {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
}

.rounded-b-md {
      border-bottom-right-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
}

.rounded-r-lg {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
}

.rounded-t-lg {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
}

.rounded-b-lg {
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
}

.rounded-tl-md {
      border-top-left-radius: 0.375rem;
}

.rounded-tr-md {
      border-top-right-radius: 0.375rem;
}

.border {
      border-width: 1px;
}

.border-l-0 {
      border-left-width: 0px;
}

.border-r-0 {
      border-right-width: 0px;
}

.border-t-0 {
      border-top-width: 0px;
}

.border-l {
      border-left-width: 1px;
}

.border-solid {
      border-style: solid;
}

.border-black {
      --tw-border-opacity: 1;
      border-color: rgba(35, 39, 47, var(--tw-border-opacity));
}

.border-yellow-500 {
      --tw-border-opacity: 1;
      border-color: rgba(234, 179, 8, var(--tw-border-opacity));
}

.border-black-lighter {
      --tw-border-opacity: 1;
      border-color: rgba(41, 46, 56, var(--tw-border-opacity));
}

.border-blueGray-300 {
      --tw-border-opacity: 1;
      border-color: rgba(203, 213, 225, var(--tw-border-opacity));
}

.border-gray-200 {
      --tw-border-opacity: 1;
      border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}

.border-red-500 {
      --tw-border-opacity: 1;
      border-color: rgba(239, 68, 68, var(--tw-border-opacity));
}

.border-black-darker {
      --tw-border-opacity: 1;
      border-color: rgba(31, 35, 43, var(--tw-border-opacity));
}

.border-black-darkest {
      --tw-border-opacity: 1;
      border-color: rgba(29, 32, 41, var(--tw-border-opacity));
}

.border-orange-400 {
      --tw-border-opacity: 1;
      border-color: #ed550e;
}

.border-white {
      --tw-border-opacity: 1;
      border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.bg-blueGray-50 {
      --tw-bg-opacity: 1;
      background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
}

.bg-black {
      --tw-bg-opacity: 1;
      background-color: rgba(35, 39, 47, var(--tw-bg-opacity));
}

.bg-black-darkest {
      --tw-bg-opacity: 1;
      background-color: rgba(29, 32, 41, var(--tw-bg-opacity));
}

.bg-emerald-500 {
      --tw-bg-opacity: 1;
      background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.bg-yellow-500 {
      --tw-bg-opacity: 1;
      background-color: rgba(234, 179, 8, var(--tw-bg-opacity));
}

.bg-black-lighter {
      --tw-bg-opacity: 1;
      background-color: rgba(41, 46, 56, var(--tw-bg-opacity));
}

.bg-blue-500 {
      --tw-bg-opacity: 1;
      background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.bg-red-500 {
      --tw-bg-opacity: 1;
      background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

.bg-orange-500 {
      --tw-bg-opacity: 1;
      background-color: #ed550e;
}

.bg-yellow-300 {
      --tw-bg-opacity: 1;
      background-color: rgba(253, 224, 71, var(--tw-bg-opacity));
}

.bg-black-darker {
      --tw-bg-opacity: 1;
      background-color: rgba(31, 35, 43, var(--tw-bg-opacity));
}

.bg-orange-400 {
      --tw-bg-opacity: 1;
      background-color: #ed550e;
}

.bg-white {
      --tw-bg-opacity: 1;
      background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-red-400 {
      --tw-bg-opacity: 1;
      background-color: rgba(248, 113, 113, var(--tw-bg-opacity));
}

.bg-red-300 {
      --tw-bg-opacity: 1;
      background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
}

.bg-gray-500 {
      --tw-bg-opacity: 1;
      background-color: rgba(113, 113, 122, var(--tw-bg-opacity));
}

.bg-opacity-20 {
      --tw-bg-opacity: 0.2;
}

.bg-opacity-40 {
      --tw-bg-opacity: 0.4;
}

.fill-current {
      fill: currentColor;
}

.object-cover {
      object-fit: cover;
}

.p-2 {
      padding: 0.5rem;
}

.p-4 {
      padding: 1rem;
}

.p-8 {
      padding: 2rem;
}

.p-3 {
      padding: 0.75rem;
}

.px-12 {
      padding-left: 3rem;
      padding-right: 3rem;
}

.py-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
}

.py-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
}

.px-2 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
}

.px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
}

.py-3 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
}

.px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
}

.px-5 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
}

.px-3 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
}

.py-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
}

.py-5 {
      padding-top: 18px;
      padding-bottom: 18px;
}

.py-6 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
}

.py-8 {
      padding-top: 2rem;
      padding-bottom: 2rem;
}

.px-8 {
      padding-left: 2rem;
      padding-right: 2rem;
}

.py-12 {
      padding-top: 3rem;
      padding-bottom: 3rem;
}

.pt-24 {
      padding-top: 6rem;
}

.pt-3 {
      padding-top: 0.75rem;
}

.pt-8 {
      padding-top: 2rem;
}

.pb-6 {
      padding-bottom: 3.5rem;
}

.pb-2 {
      padding-bottom: 0.5rem;
}

.pb-40 {
      padding-bottom: 10rem;
}

.pb-20 {
      padding-bottom: 5rem;
}

.pt-0\.5 {
      padding-top: 0.125rem;
}

.pt-0 {
      padding-top: 0px;
}

.pt-2 {
      padding-top: 0.5rem;
}

.pt-12 {
      padding-top: 3rem;
}

.pb-12 {
      padding-bottom: 3rem;
}

.pb-16 {
      padding-bottom: 4rem;
}

.pt-32 {
      padding-top: 8rem;
}

.pt-16 {
      padding-top: 4rem;
}

.pl-4 {
      padding-left: 1rem;
}

.pl-8 {
      padding-left: 2rem;
}

.pb-10 {
      padding-bottom: 2.5rem;
}

.pt-10 {
      padding-top: 2.5rem;
}

.pr-4 {
      padding-right: 1rem;
}

.text-left {
      text-align: left;
}

.text-center {
      text-align: center;
}

.text-right {
      text-align: right;
}

.align-middle {
      vertical-align: middle;
}

.font-danger {
      font-family: Another Danger;
}

.text-5xl {
      font-size: 3rem;
      line-height: 1;
}

.text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem;
}

.text-xs {
      font-size: 0.75rem;
      line-height: 1rem;
}

.text-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
}

.text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem;
}

.text-base {
      font-size: 1rem;
      line-height: 1.5rem;
}

.text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem;
}

.text-2xl {
      font-size: 1.5rem;
      line-height: 2rem;
}

.text-3xl {
      font-size: 1.875rem;
      line-height: 2.25rem;
}

.text-7xl {
      font-size: 4.5rem;
      line-height: 1;
}

.font-semibold {
      font-weight: 600;
}

.font-light {
      font-weight: 300;
}

.font-bold {
      font-weight: 700;
}

.font-medium {
      font-weight: 500;
}

.uppercase {
      text-transform: uppercase;
}

.leading-normal {
      line-height: 1.5;
}

.leading-relaxed {
      line-height: 1.625;
}

.leading-none {
      line-height: 1;
}

.tracking-wide {
      letter-spacing: 0.025em;
}

.tracking-widest {
      letter-spacing: 0.1em;
}

.tracking-wider {
      letter-spacing: 0.05em;
}

.text-blueGray-700 {
      --tw-text-opacity: 1;
      color: rgba(51, 65, 85, var(--tw-text-opacity));
}

.text-blueGray-200 {
      --tw-text-opacity: 1;
      color: rgba(226, 232, 240, var(--tw-text-opacity));
}

.text-blueGray-300 {
      --tw-text-opacity: 1;
      color: rgba(203, 213, 225, var(--tw-text-opacity));
}

.text-blueGray-500 {
      --tw-text-opacity: 1;
      color: rgba(100, 116, 139, var(--tw-text-opacity));
}

.text-white {
      --tw-text-opacity: 1;
      color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-trueGray-300 {
      --tw-text-opacity: 1;
      color: rgba(212, 212, 212, var(--tw-text-opacity));
}

.text-trueGray-200 {
      --tw-text-opacity: 1;
      color: rgba(229, 229, 229, var(--tw-text-opacity));
}

.text-trueGray-100 {
      --tw-text-opacity: 1;
      color: rgba(245, 245, 245, var(--tw-text-opacity));
}

.text-gray-300 {
      --tw-text-opacity: 1;
      color: rgba(212, 212, 216, var(--tw-text-opacity));
}

.text-green-300 {
      --tw-text-opacity: 1;
      color: rgba(134, 239, 172, var(--tw-text-opacity));
}

.bg-orange-300 {
      --tw-text-opacity: 1;
      color: #ed550e;
}

.text-gray-100 {
      --tw-text-opacity: 1;
      color: rgba(244, 244, 245, var(--tw-text-opacity));
}

.text-gray-500 {
      --tw-text-opacity: 1;
      color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.text-purple-300 {
      --tw-text-opacity: 1;
      color: rgba(216, 180, 254, var(--tw-text-opacity));
}

.text-blue-300 {
      --tw-text-opacity: 1;
      color: rgba(147, 197, 253, var(--tw-text-opacity));
}

.text-red-300 {
      --tw-text-opacity: 1;
      color: rgba(252, 165, 165, var(--tw-text-opacity));
}

.text-gray-200 {
      --tw-text-opacity: 1;
      color: rgba(228, 228, 231, var(--tw-text-opacity));
}

.text-gray-400 {
      --tw-text-opacity: 1;
      color: rgba(161, 161, 170, var(--tw-text-opacity));
}

.text-indigo-300 {
      --tw-text-opacity: 1;
      color: rgba(165, 180, 252, var(--tw-text-opacity));
}

.text-black-darker {
      --tw-text-opacity: 1;
      color: rgba(31, 35, 43, var(--tw-text-opacity));
}

.text-black {
      --tw-text-opacity: 1;
      color: rgba(35, 39, 47, var(--tw-text-opacity));
}

.text-trueGray-700 {
      --tw-text-opacity: 1;
      color: rgba(64, 64, 64, var(--tw-text-opacity));
}

.text-gray-900 {
      --tw-text-opacity: 1;
      color: rgba(24, 24, 27, var(--tw-text-opacity));
}

.text-indigo-600 {
      --tw-text-opacity: 1;
      color: rgba(79, 70, 229, var(--tw-text-opacity));
}

.text-black-lighter {
      --tw-text-opacity: 1;
      color: rgba(41, 46, 56, var(--tw-text-opacity));
}

.text-red-400 {
      --tw-text-opacity: 1;
      color: rgba(248, 113, 113, var(--tw-text-opacity));
}

.antialiased {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.opacity-100 {
      opacity: 1;
}

.opacity-0 {
      opacity: 0;
}

.opacity-70 {
      opacity: 0.7;
}

.shadow-red {
      --tw-shadow: 0 4px 14px 0 rgba(255, 0, 0, 0.39);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
      --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-none {
      --tw-shadow: 0 0 #0000;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
      --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-green {
      --tw-shadow: -10px 40px 250px -10px rgba(0, 255, 0, 0.39);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-orange {
      --tw-shadow: -10px 40px 250px -10px rgb(237, 85, 14, 0.39);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow {
      --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-dappdark {
      width: 100%;
      --tw-shadow: 0px 0px 25px 5px #23272f;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
      outline: 2px solid transparent;
      outline-offset: 2px;
}

.ring-1 {
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-black {
      --tw-ring-opacity: 1;
      --tw-ring-color: rgba(35, 39, 47, var(--tw-ring-opacity));
}

.ring-opacity-5 {
      --tw-ring-opacity: 0.05;
}

.blur-sm {
      --tw-blur: blur(4px);
      filter: var(--tw-filter);
}

.transition-opacity {
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
}

.transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
}

.duration-150 {
      transition-duration: 150ms;
}

.duration-500 {
      transition-duration: 500ms;
}

.ease-linear {
      transition-timing-function: linear;
}

.last\:mr-0:last-child {
      margin-right: 0px;
}

.hover\:bg-orange-500:hover {
      --tw-bg-opacity: 1;
      background-color: #ed550e;
}

.hover\:bg-orange-400:hover {
      --tw-bg-opacity: 1;
      background-color: #ed550e;
}

.hover\:bg-white:hover {
      --tw-bg-opacity: 1;
      background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:text-gray-300:hover {
      --tw-text-opacity: 1;
      color: rgba(212, 212, 216, var(--tw-text-opacity));
}

.hover\:text-blueGray-200:hover {
      --tw-text-opacity: 1;
      color: rgba(226, 232, 240, var(--tw-text-opacity));
}

.hover\:text-trueGray-300:hover {
      --tw-text-opacity: 1;
      color: rgba(212, 212, 212, var(--tw-text-opacity));
}

.hover\:text-indigo-500:hover {
      --tw-text-opacity: 1;
      color: rgba(99, 102, 241, var(--tw-text-opacity));
}

.hover\:text-red-600:hover {
      --tw-text-opacity: 1;
      color: rgba(220, 38, 38, var(--tw-text-opacity));
}

.hover\:text-black:hover {
      --tw-text-opacity: 1;
      color: rgba(35, 39, 47, var(--tw-text-opacity));
}

.hover\:shadow-lg:hover {
      --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
}

.focus\:ring-2:focus {
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-indigo-500:focus {
      --tw-ring-opacity: 1;
      --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}

.active\:bg-green-700:active {
      --tw-bg-opacity: 1;
      background-color: rgba(21, 128, 61, var(--tw-bg-opacity));
}

.active\:bg-lightBlue-600:active {
      --tw-bg-opacity: 1;
      background-color: rgba(2, 132, 199, var(--tw-bg-opacity));
}

.active\:bg-green-200:active {
      --tw-bg-opacity: 1;
      background-color: rgba(187, 247, 208, var(--tw-bg-opacity));
}

@media (min-width: 640px) {

      .sm\:-mx-2 {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
      }

      .sm\:my-2 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
      }

      .sm\:mx-auto {
            margin-left: auto;
            margin-right: auto;
      }

      .sm\:-mx-6 {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
      }

      .sm\:my-6 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
      }

      .sm\:mb-2 {
            margin-bottom: 0.5rem;
      }

      .sm\:mt-0 {
            margin-top: 0px;
      }

      .sm\:w-full {
            width: 100%;
      }

      .sm\:w-2\/12 {
            width: 16.666667%;
      }

      .sm\:px-2 {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
      }

      .sm\:px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
      }

      .sm\:pt-0 {
            padding-top: 0px;
      }

      .sm\:text-15 {
            font-size: 6rem;
      }
}

@media (min-width: 768px) {

      .md\:order-first {
            order: -9999;
      }

      .md\:order-last {
            order: 9999;
      }

      .md\:-mx-2 {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
      }

      .md\:my-2 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
      }

      .md\:my-0 {
            margin-top: 0px;
            margin-bottom: 0px;
      }

      .md\:-mx-6 {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
      }

      .md\:my-6 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
      }

      .md\:mt-20 {
            margin-top: 5rem;
      }

      .md\:mt-30 {
            margin-top: 7.5rem;
      }

      .md\:mt-40 {
            margin-top: 10rem;
      }

      .md\:w-5\/12 {
            width: 41.666667%;
      }

      .md\:w-6\/12 {
            width: 50%;
      }

      .md\:w-4\/12 {
            width: 33.333333%;
      }

      .md\:w-1\/2 {
            width: 50%;
      }

      .md\:w-1\/3 {
            width: 33.333333%;
      }

      .md\:w-full {
            width: 100%;
      }

      .md\:w-8\/12 {
            width: 66.666667%;
      }

      .md\:justify-end {
            justify-content: flex-end;
      }

      .md\:justify-between {
            justify-content: space-between;
      }

      .md\:px-4 {
            padding-left: 1rem;
            padding-right: 1rem;
      }

      .md\:px-2 {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
      }

      .md\:py-0 {
            padding-top: 0px;
            padding-bottom: 0px;
      }

      .md\:px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
      }

      .md\:pr-12 {
            padding-right: 3rem;
      }

      .md\:pt-0 {
            padding-top: 0px;
      }

      .md\:text-left {
            text-align: left;
      }

      .md\:text-right {
            text-align: right;
      }

      .md\:text-5xl {
            font-size: 3rem;
            line-height: 1;
      }

      .md\:text-sm {
            font-size: 0.875rem;
            line-height: 1.25rem;
      }

      .md\:text-2xl {
            font-size: 1.5rem;
            line-height: 2rem;
      }
}

@media (min-width: 1024px) {

      .lg\:static {
            position: static;
      }

      .lg\:-mx-2 {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
      }

      .lg\:my-2 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
      }

      .lg\:-mx-6 {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
      }

      .lg\:my-6 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
      }

      .lg\:mt-16 {
            margin-top: 4rem;
      }

      .lg\:ml-auto {
            margin-left: auto;
      }

      .lg\:mr-1 {
            margin-right: 0.25rem;
      }

      .lg\:mb-0 {
            margin-bottom: 0px;
      }

      .lg\:block {
            display: block;
      }

      .lg\:flex {
            display: flex;
      }

      .lg\:hidden {
            display: none;
      }

      .lg\:w-6\/12 {
            width: 50%;
      }

      .lg\:w-4\/12 {
            width: 33.333333%;
      }

      .lg\:w-1\/3 {
            width: 33.333333%;
      }

      .lg\:w-auto {
            width: auto;
      }

      .lg\:w-1\/2 {
            width: 50%;
      }

      .lg\:w-4\/5 {
            width: 80%;
      }

      .lg\:w-full {
            width: 100%;
      }

      .lg\:flex-row {
            flex-direction: row;
      }

      .lg\:justify-start {
            justify-content: flex-start;
      }

      .lg\:bg-opacity-0 {
            --tw-bg-opacity: 0;
      }

      .lg\:px-2 {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
      }

      .lg\:py-2 {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
      }

      .lg\:px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
      }

      .lg\:text-left {
            text-align: left;
      }

      .lg\:shadow-none {
            --tw-shadow: 0 0 #0000;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }
}

@media (min-width: 1280px) {

      .xl\:-mx-2 {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
      }

      .xl\:my-2 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
      }

      .xl\:-mx-5 {
            margin-left: -1.25rem;
            margin-right: -1.25rem;
      }

      .xl\:my-5 {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
      }

      .xl\:w-8\/12 {
            width: 66.666667%;
      }

      .xl\:w-1\/4 {
            width: 25%;
      }

      .xl\:w-1\/3 {
            width: 33.333333%;
      }

      .xl\:w-1\/2 {
            width: 50%;
      }

      .xl\:w-6\/12 {
            width: 50%;
      }

      .xl\:px-2 {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
      }

      .xl\:px-5 {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
      }
}

// chart stuff =================================================================
:root {
  --blue: #1855ff;
  --white: #fff;
  --green: #41e041;
  --red: #ff5b5b;
  --border-radius: 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hitzone {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.card {
  text-align: center;
  color: var(--white);
  margin: auto;
  max-width: 300px;
  background: linear-gradient(135deg, #2bb1ff 0%, var(--blue) 100%);
  border-radius: var(--border-radius);
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}

.card:not(.expanded):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}

.card-inner {
  position: relative;
}

.top-data {
  padding: 40px 25px 0;
}

.card img {
  width: 75px;
  height: 75px;
  background: var(--white);
  padding: 2px;
  border-radius: 50px;
}

.crypto-name {
  font-size: 26px;
  font-weight: 300;
  margin: 12px 0;
}

.crypto-price {
  font-size: 20px;
  margin: 12px 0 0;
  font-weight: 300;
}

.crypto-price span {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -6px;
  left: 6px;
  padding: 4px;
  border-radius: 4px;
}

.crypto-price svg {
  margin-right: 4px;
}

.positive {
  background: var(--green);
}

.negative {
  background: var(--red);
}

.expanded.card {
  max-width: 800px;
}

.expanded .top-data {
  padding: 40px 25px 20px;
}

.close {
  position: absolute;
  color: var(--white);
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 1;
}

.chart {
  position: relative;
}

.chart svg {
  vertical-align: middle;
}

.chart-actions {
  display: none;
}

/* Only display the actions when expanded */
.expanded .chart-actions {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.chart-actions button {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  margin: 0 10px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  outline: none;
}

.chart-actions button:hover,
.chart-actions button:focus {
  border: 1px solid var(--white);
}

.chart-actions .active {
  background: var(--white);
  color: var(--blue);
}

.loading-container {
  height: 0;
  padding-bottom: 50%;
  width: 100%;
}

.loading-container span {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 30%;
}
