$base-color: black;
$blue-color: #22ac11;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $base-color;
}

/**
Fill height of browser window
*/
body {
  height: 100%;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  color: unset;
  background-color: unset;
  border-color: unset;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.2rem;
}

.btn {
  letter-spacing: 1px;
}

// login/registration =========================================================
.steps {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 2rem;

  .step {
    margin: 0.5rem 3rem;
    display: flex;
    color: #ccc;

    a {
      color: $base-color;
    }

    div:first-of-type {
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 50%;
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 100%;
      padding-top: 7%;
    }

    :last-child {
      margin-top: 3%;
    }

    &.active {
      div:first-of-type {
        background-color: $base-color;
        border: 1px solid transparent;
        color: #fff;
      }

      div:last-of-type {
        color: $base-color;
      }
    }
  }
}

.input-form {
  width: 60%;
  margin: 3rem auto;
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.login-error {
  font-size: 1.1rem;
}

.successMsg {
  color: $blue-color;
}

.loading {
  color: #777;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.user-details {
  color: $blue-color;
  padding: 5px 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .input-form {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .steps .step {
    margin: 0.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .steps .step {
    margin: 0.5rem 1rem;
    font-size: 0.9rem;

    div:first-of-type {
      padding-top: 9%;
    }
  }
}

@media screen and (max-width: 400px) {
  .steps {
    flex-direction: column;
    align-items: center;

    .step {
      align-items: center;
    }
  }
}

// chart stuff =================================================================
:root {
  --blue: #1855ff;
  --white: #fff;
  --green: #41e041;
  --red: #ff5b5b;
  --border-radius: 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hitzone {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.card {
  text-align: center;
  color: var(--white);
  margin: auto;
  max-width: 300px;
  background: linear-gradient(135deg, #2bb1ff 0%, var(--blue) 100%);
  border-radius: var(--border-radius);
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}

.card:not(.expanded):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}

.card-inner {
  position: relative;
}

.top-data {
  padding: 40px 25px 0;
}

.card img {
  width: 75px;
  height: 75px;
  background: var(--white);
  padding: 2px;
  border-radius: 50px;
}

.crypto-name {
  font-size: 26px;
  font-weight: 300;
  margin: 12px 0;
}

.crypto-price {
  font-size: 20px;
  margin: 12px 0 0;
  font-weight: 300;
}

.crypto-price span {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -6px;
  left: 6px;
  padding: 4px;
  border-radius: 4px;
}

.crypto-price svg {
  margin-right: 4px;
}

.positive {
  color: var(--green);
}

.negative {
  color: var(--red);
}

.expanded.card {
  max-width: 800px;
}

.expanded .top-data {
  padding: 40px 25px 20px;
}

.close {
  position: absolute;
  color: var(--white);
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 1;
}

.chart {
  position: relative;
}

.chart svg {
  vertical-align: middle;
}

.chart-actions {
  display: none;
}

/* Only display the actions when expanded */
.expanded .chart-actions {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.chart-actions button {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  margin: 0 10px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  outline: none;
}

.chart-actions button:hover,
.chart-actions button:focus {
  border: 1px solid var(--white);
}

.chart-actions .active {
  background: var(--white);
  color: var(--blue);
}

.loading-container {
  height: 0;
  padding-bottom: 50%;
  width: 100%;
}

.loading-container span {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 30%;
}
